body{
    margin:0;
    font-family: 'Mountains of Christmas', cursive;
}

#wrapper{
    display:flex;
    flex-direction: column;
    background-image: url('../img/Mount-Everest.jpg');
    width:100vw;
    height:100vh;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    height:80px;
}

#logoText{
    font-weight: bolder;
    color:white;
    text-align: center;
    font-size: 25px;
}

#newGameBtn{
    width:auto;
    background-color: #105f13;
}

#playField{
    display:flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin:0px 10% 0px 10%;
    justify-content: space-around;
}



.cardEasy{
    width: 20%;
    margin: 1%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0s ;
}


.cardMedium{
    width: 13%;
    margin: 1%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cardHard{
    width: 10%;
    margin: 1%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.backgroundCard{
    background-image: url(../img/background.jpg) !important;
    
}

#popup{
    display:flex;
    flex-direction: column;
    background:white;
    align-items: center;
    position: fixed;
    top:30%;
    left:50%;
    height:50%;
    width:50%;
    justify-content: space-around;
    padding:10px;
    transform: translateX(-50%);
    background-image: url(../img/popup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size:25px;
     border: 5px solid #ddd;
  border-radius: 4px;
}

.btnOption{
    width:200px;
    flex-shrink:0;
}

.counterContainer{
    display:flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-weight: bold;
    font-size: large;
    margin-right: 75%;
}

#win{
    display:flex;
    flex-direction: column;
    background:white;
    align-items: center;
    position: fixed;
    top:30%;
    left:50%;
    height:50%;
    width:50%;
    justify-content: space-around;
    padding:10px;
    transform: translateX(-50%);
    background-image: url(../img/popup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size:25px;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px green;
  }

  button:hover {
      background-color: #3e8e41
    }

  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #header #changeTheme{
      position: fixed;
      right:1%;
      bottom:1%;
      width:150px;
      height: 30px;
      font-size:10px;
  }