body{
    margin:0;
}

#wrapper{
    display:flex;
    flex-direction: column;
    background-image: url('../img/Mount-Everest.jpg');
    width:100vw;
    height:100vh;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

#logo{
    height:80px;
}

#logoText{
    font-weight: bolder;
    color:white;
    text-align: center;
}

#newGameBtn{
    height:20px;
    width:auto;
    background-color: blue;
}

#playField{
    display:flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin:0px 10% 0px 10%;
    justify-content: space-around;
}

.card{
    width: 20%;
    margin: 1%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.backgroundCard{
    background-image: url(../img/background.jpg) !important;
}